@font-face {
  font-family: 'Cantarell';
  src: url(fonts/Cantarell-Regular.otf);
}

@font-face {
  font-family: 'Cantarell';
  font-weight: bold;
  src: url(fonts/Cantarell-Bold.otf);
}

@font-face {
  font-family: 'Copse';
  src: local('Copse'), local('Copse Regular'),
  url(fonts/Copse-Regular.otf);
}
