@import 'reset.css';
@import 'grid';
@import 'fonts.css';
@import 'text.css';
@import 'base';
$column-width: 40;
$gutter-width: 20;
$columns: 16;

$link: #3465a4;


a { 
  color: $link;
  &:hover {
    color: lighten($link,10%);
  }
  &:active {
    color: darken($link,10%);
  }
}

body {
  font-family:  Cantarell, Sans-Serif;
  margin: 0; padding: 0;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-family: Copse, Cantarell, Sans-Serif;
}

.menu {
  ul {
    display: block;
    li {
      display: block;
      margin: 0 0 1em ;
    }    
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    }
}

.menu { @include column(5); }
.main {  @include column(7); }

.contain {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
  .menu { @include column(5,16); }
  .main {  @include column(11,16);}
}

.menumobile { display: none; }
.footer { display: none; }

@media screen and (max-width: 960px) {
  $total-width: 100%;
  body {
    font-size: 200%;
  }
  .contain {    
    .menu { display: none; }
    .main {  @include column(16); }
  }
  .menumobile { @include column(16); }  
  
  .footer { @inlude column(16);  }
}
