@import 'reset.css';
@import 'fonts.css';
@import 'text.css';
@import 'grid';
@import 'base';

$column-width: 40px;
$gutter-width: 20px;
$columns: 16;

$c-link: #3465a4;
$c-header: #888a85;

a { 
  color: $c-link;
  &:hover {
    color: lighten($c-link,10%);
  }
  &:active {
    color: darken($c-link,10%);
  }
}

p {
  margin-bottom: 1em;
}

body {
  font-family:  Cantarell, Sans-Serif;
  font-size: 11pt;
  margin: 0; padding: 0;
  background: #fff url(../images/html-bg.png) 0 10px repeat-x;
  //background: #fff url(../images/grid.png) top center repeat-y; //debug grid
}

img {
  width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6 {
  color: $c-header;
  margin: 2em 0 .8em;
  &:first-child {
    margin: 0 0 .8em;
  }
}

h1 { font-size: 200%;  }

.punchline {
  font-size: 200%;
  color: $c-header;
  font-family: Copse, Cantarell, Sans-Serif;
  @include text-shadow(0,1px,0,#fff);
}

.gnomelink {
  width: 960px;
  margin: 0 auto;
  
  &>div {
    background-color: #fff;
    @include column(2);
    @include push(14);
    @include border-radius(5px);
    @include box-shadow(0,3px,2px,#8FB3D9);
    a {
      display: block;
      font-size: 80%;
      padding-left: 18px;
      margin: 6px 2px 2px 5px;
      background: url(../images/favicon.png) no-repeat 0 0;
      color: #222;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.logo {
  position: absolute;
  width: 960px;
  top: 70px;
  left: 50%;
  margin-left: -480px;
  display: block;
  
  img {
    width: 170px;
    height: auto;
  }
}

.main {  @include column(11); }

.contain {
	width: 960px;
	margin: 4em auto 0;
	overflow: hidden;
	.sidebar {
	  @include column(5,16);
	  /* SIDEBAR MENU */
    .menu {    
      margin: 200px 0 0;
      ul {
        display: block;
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          display: block;
          margin:  0 0 .8em ;
          padding-left: 24px;
          &.current a {
           color: black;
           &:hover {
            text-decoration: none;
            cursor: default;
           }
          }
        }
        /* COLLAPSING MENU */
        &.collapsed {
          &>li {
            margin-top: 2em;
            padding: 0;
            a.expand {
              display: block;
              color: black;
              padding-left: 24px;
              background: url(../images/plus.png) no-repeat 0 0;
              &:hover {
                text-decoration: none;
              }
            }
            &:first-child {
              margin-top: 0;
            }

            ul {
              margin-top: 1em;
              li {
                padding: 0;
                a {
                  padding-left: 24px;
                  color: $c-link;
                }
              }
            }
          }
        }   
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .smalllogo {
      display: block;
      text-decoration: none;
      &+.menu {
        margin: 25px 0 0;
      }
      img {
        width: 170px;
        height: auto;
      }
      .punchline { font-size: 115%; margin-top: 8px; }
    }
	}
  .main {  @include column(11,16);}
}


.columns {
  @include row(11);
  
  img {
    @include column(6,11);
    margin-bottom: 1em;
    float: right;
  }

  p  {
    @include column(5,11);
    margin-bottom: 1em;
  }
}

.blurb {
  @include column(5);
  }

.menumobile { display: none; }
.footer { display: none; }

/* MOBILE VERSION BELOW */
@media screen and (max-width: 960px) {
  $total-width: 100%;

  .gnomelink {
    display: none;
  }
  .blurb {
    @include row(16);
  }  
  .logo {
    position: static;
    margin: 20px auto;
    width: 94%;
  	overflow: hidden;
  	img {
      width: 100px;
      height: auto;
    }
  	div {
  	  margin: .5em 0 0;
  	  font-size: 120%;
  	}
  }

  .columns {
    @include row(16);
    
    img {
      @include column(16);
      margin-bottom: 1em;
    }

    p  {
      @include column(16);
      margin-bottom: 1em;
    }
  }  
  
  .contain {
    width: 97.917%;
    margin: 0 auto;
    .menu { display: none; }
    .main {  @include column(16); }
    .sidebar {
      margin: 0;
      .smalllogo { 
        position: static;
        display: block;
        margin: 20px auto;
        width: 94%;
      	overflow: hidden;
      	img {
          width: 100px;
          height: auto;
        }
      	div {
      	  margin: .5em 0 0;
      	  font-size: 120%;
      	}
      }
    }
  }
  .menumobile { @include column(16); }  
  
  .footer { @inlude column(16);  }
}
