%h3 
  Design Guidelines
= menubar 'Principles', 'Design Strategies', 'System Shell', 'Visual Layout', 'Writing Style', 'Color', 'Keyboard Input', 'Pointer and Touch Input'

%h3 
  Design Patterns
%ul.colapsed
  %li 
    Application Basics
    = menubar ['Application Menu', 'basics-appmenu.html'], ['Primary Toolbar','basics-primary-toolbar.html'], ['Primary Windows','basics-primary-windows.html'], ['Notifications','basics-notifications.html'], ['Content Area', 'basics-content-area.html'], ['Sidebar List','basics-sidebar-list.html']

