%h2 menu
= menubar 'Principles', 'Design Strategies', 'System Shell', 'Visual Layout', 'Writing Style', 'Color', 'Keyboard Input', 'Pointer and Touch Input'

%ul.colapsed
  %li 
    Application Basics
    = menubar ['Application Menu', 'basics-appmenu'], 'Primary Toolbar', 'Primary Windows', 'Notifications', 'Content Area', 'Sidebar List'

