%h2 menu
= menubar 'Principles', 'Design Strategies', 'System Shell', 'Visual Layout', 'Writing Style', 'Color', 'Keyboard Input', 'Pointer and Touch Input'

%ul
  %li 
    Application Basics
    = menubar 'More', 'subitems'

