- @layout = "landing"
= img "devices.png"

.blurb
  %h1
    Design Guidelines

  A small set of pages containing essential design 
  %a{:href => 'principles.html' } advice and rules. 

.blurb
  %h1
    Design Patterns

  A larger collection of building blocks that you can use to design your 
  %a{:href => 'basics-appmenu.html'} application.

  The design patterns include a variety of different design elements that you can utilise. Some patterns describe individual user interface components, such as check boxes or lists. Others describe more complex arrangements of components.
