@import url(reset.css);
@import url(fonts.css);
@import url(text.css);
/* line 41, /home/jimmac/SparkleShare/gnome-hig/html/hig/src/stylesheets/grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, /home/jimmac/SparkleShare/gnome-hig/html/hig/src/stylesheets/grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, /home/jimmac/SparkleShare/gnome-hig/html/hig/src/stylesheets/grid.scss */
body:after {
  clear: both;
}

/* line 14 */
a {
  color: #3465a4;
}
/* line 16 */
a:hover {
  color: #477ec4;
}
/* line 19 */
a:active {
  color: #284d7d;
}

/* line 24 */
body {
  font-family: Cantarell, Sans-Serif;
  font-size: 11pt;
  margin: 0;
  padding: 0;
  background: white url(../images/html-bg.png) 0 10px repeat-x;
}

/* line 31 */
img {
  width: 100%;
  height: auto;
}
/* line 34 */
img.foot {
  width: 170px;
  display: block;
}

/* line 40 */
h1, h2, h3, h4, h5, h6 {
  color: #888a85;
  margin: 2em 0 .8em;
}
/* line 43 */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin: 0 0 .8em;
}

/* line 48 */
h1 {
  font-size: 200%;
}

/* line 50 */
.punchline {
  font-size: 200%;
  color: #888a85;
  font-family: Copse, Cantarell, Sans-Serif;
  text-shadow: 0 1px 0 white;
  -moz-text-shadow: 0 1px 0 white;
  -webkit-text-shadow: 0 1px 0 white;
}

/* line 57 */
.gnomelink {
  width: 960px;
  margin: 0 auto;
}
/* line 61 */
.gnomelink > div {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100px;
  margin: 0 10px;
  margin-left: 850px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 3px 2px #8fb3d9;
  -moz-box-shadow: 0 3px 2px #8fb3d9;
  -webkit-box-shadow: 0 3px 2px #8fb3d9;
}
/* line 67 */
.gnomelink > div a {
  display: block;
  font-size: 80%;
  padding-left: 18px;
  margin: 6px 2px 2px 5px;
  background: url(../images/favicon.png) no-repeat 0 0;
  color: #222;
  text-decoration: none;
}
/* line 75 */
.gnomelink > div a:hover {
  text-decoration: underline;
}

/* line 82 */
.logo {
  position: absolute;
  width: 960px;
  top: 70px;
  left: 50%;
  margin-left: -480px;
  display: block;
}

/* line 91 */
.main {
  display: inline;
  float: left;
  width: 400px;
  margin: 0 10px;
}

/* line 93 */
.contain {
  width: 960px;
  margin: 4em auto 0;
  overflow: hidden;
}
/* line 97 */
.contain .sidebar {
  display: inline;
  float: left;
  width: 280px;
  margin: 0 10px;
}
/* line 99 */
.contain .sidebar .menu {
  margin: 200px 0 0;
}
/* line 101 */
.contain .sidebar .menu ul {
  display: block;
  margin: 0;
  padding: 0;
}
/* line 105 */
.contain .sidebar .menu ul li {
  margin: 0;
  display: block;
  margin: 0 0 .8em;
  padding-left: 24px;
}
/* line 110 */
.contain .sidebar .menu ul li.current a {
  color: black;
}
/* line 112 */
.contain .sidebar .menu ul li.current a:hover {
  text-decoration: none;
  cursor: default;
}
/* line 119 */
.contain .sidebar .menu ul.collapsed > li {
  padding: 0;
  /* FIXME */
}
/* line 124 */
.contain .sidebar .menu a {
  text-decoration: none;
}
/* line 126 */
.contain .sidebar .menu a:hover {
  text-decoration: underline;
}
/* line 131 */
.contain .sidebar .smalllogo {
  display: block;
  text-decoration: none;
}
/* line 134 */
.contain .sidebar .smalllogo + .menu {
  margin: 25px 0 0;
}
/* line 137 */
.contain .sidebar .smalllogo .punchline {
  font-size: 115%;
  margin-top: 8px;
}
/* line 140 */
.contain .main {
  display: inline;
  float: left;
  width: 640px;
  margin: 0 10px;
}

/* line 143 */
.blurb {
  display: inline;
  float: left;
  width: 280px;
  margin: 0 10px;
}

/* line 147 */
.menumobile {
  display: none;
}

/* line 148 */
.footer {
  display: none;
}

@media screen and (max-width: 960px) {
  /* line 152 */
  body {
    font-size: 32pt;
  }

  /* line 155 */
  .logo {
    position: static;
    margin: 1em 1.042% 0;
    width: 97.917%;
    overflow: hidden;
  }

  /* line 161 */
  .gnomelink {
    display: none;
  }

  /* line 164 */
  .blurb {
    display: block;
    width: 102.083%;
    margin: 0 auto;
    *zoom: 1;
  }
  /* line 27, /home/jimmac/SparkleShare/gnome-hig/html/hig/src/stylesheets/grid.scss */
  .blurb:before, .blurb:after {
    content: "";
    display: table;
  }
  /* line 31, /home/jimmac/SparkleShare/gnome-hig/html/hig/src/stylesheets/grid.scss */
  .blurb:after {
    clear: both;
  }

  /* line 167 */
  .contain {
    width: 97.917%;
    margin: 0 auto;
  }
  /* line 170 */
  .contain .menu {
    display: none;
  }
  /* line 171 */
  .contain .main {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
  }

  /* line 173 */
  .menumobile {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
  }

  /* line 175 */
  .footer {
@inlude column(16);
  }
}
