!!!
%html
  %head
    %title StaticMatic
    = stylesheets :hig, :media => "screen"
  %body
    .contain
      %section.menu
        = partial('menu')
      %section.main
        = yield
    %section.footer
      = partial('footer')
